@charset "utf-8";

// ============================================= *
//                                                *
//  ナビゲーションバー                               *
//                                                *
// ============================================= */
.navbar-default {
    background-color: $main-color;
    border-bottom: 1px solid $main-color2;
    .navbar-toggle {
        //共通
        border-color: transparent;
        &:focus, &:active, &:hover {
            background: none;
            border-color: transparent;
        }
        .icon-bar {
            @include transitionSet();
        }
        //ハンバーガーアニメーション
        @include hamburger1();
    }
}
.navbar {
    &_head {
        margin: {
            top: 0;
            bottom: 0;
        }
    }
    &-nav {
        margin: 0 15px 0 0;
        & > li {
            a {
                &, &:link, &:visited {
                    color: $accent-color;
                }
            }
        }
    }
    & > .container .navbar-brand, & > .container-fluid .navbar-brand {
        margin-left: 0;
        color: $accent-color;
    }
}