@charset "utf-8";

// ============================================= *
//                                               *
// Import                                        *
//                                               *
// ============================================= */
@import "assets/bootstrap/bootstrap"; //bootstrap(3.3.7)
@import "util/var"; //変数
@import "../../node_modules/brand-colors/dist/latest/scss/brand-colors.latest.scss"; //ソーシャルメディアなどのブランドカラー
@import "util/typo"; //ベンダープレフィックス等のMixinモジュール
@import "util/module"; //ベンダープレフィックス等のMixinモジュール
@import "util/bootcanceller"; //bootstrapでいつも気になるものをキャンセル
@import "util/base"; //フォント指定やIE対処など
@import "partial/barba_effect"; //barba

// ============================================= *
//                                               *
// 全体                                           *
//                                               *
// ============================================= */
//ボタンの影とクリック時に影消える
//ボタンリンクの動作
.btn {
    &Wrapper {
        margin: 2rem auto;
    }
    &Link {
        display: inline-block;
        padding: 0.8rem 1.2rem;
        border: 1px solid $link-color;
        border-radius: 4px;
        background-color: rgba($main-color, 0.05);
        text-transform: uppercase;
        color: $link-color;
        position: relative;
        &, &:link, &:visited {
            color: $link-color;
        }
        &:hover, &:active, &:focus {
            text-decoration: none;
            background-color: rgba($main-color, 0.4);
            color: $link-ha-color;
            border: 1px solid transparent;
            box-shadow: 0 0 3px 3px rgba($link-ha-color, 0.4) inset;
            text-shadow: 0 0 3px 3px rgba($link-ha-color, 0.4);
        }
        &:before, &:after {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            content: " ";
            width: 0;
            height: 0;
            border: 1px solid transparent;
        }
        &:hover:before, &:hover:after {
            width: 100%;
            height: 100%;
        }
        &:hover:before {
            border: {
                top-color: $link-ha-color;
                right-color: $link-ha-color;
            }
            transition: width 0.3s, height 0.3s 0.3s;
        }
        &:hover:after {
            border: {
                bottom-color: $link-ha-color;
                left-color: $link-ha-color;
            }
            transition: height 0.3s, width 0.3s 0.3s;
        }
        span {
            &:before {
                content: "\f101";
                font-family: "FontAwesome";
                display: inline-block;
                margin-right: 1rem;
            }
        }
    }
}

// ============================================= *
//                                               *
// ヘッダ                                         *
//                                               *
// ============================================= */
@import "util/navbar"; //ヘッダナビゲーションバーの設定。ハンバーガーメニューのアニメーションもここで。
@import "partial/header";

// ============================================= *
//                                               *
// メインコンテンツ                                 *
//                                               *
// ============================================= */
.main {
	background-color: $bg-color;
	color: $color;
}

// ============================================= *
//                                               *
// フッタ                                         *
//                                               *
// ============================================= */
@import "partial/footer";

// ***** ページトップへ戻る ***** */
@import "partial/returnpagetop";