@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  アイキャッチ(トップ)                             *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  アイキャッチ(コンテンツページ)                     *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  トップページ                                    *
//                                                *
// ============================================= */
.index {
    .future {
        display: grid;
        @media(max-width: $screen-md - 1) {
            grid: {
                gap: 0.4rem;
                template-columns: 1fr;
            }
        }
        @media(min-width: $screen-md) {
            grid: {
                gap: 0.8rem;
                template-columns: 0 0 1fr 3fr 2fr;
            }
        }
        .grid_container {
            @media(min-width: $screen-md) {
                &:first-of-type {
                    order: 3;
                }
                &:nth-of-type(2) {
                    order: 1;
                }
                &:last-of-type {
                    order: 2;
                }
            }
            ul {
                list-style-position: inside;
            }
        }
    }
    .environment {
        &_ie {
            &:before {
                content: "※";
            }
        }
        strong {
            letter-spacing: 1rem;
        }
    }
}
// ============================================== *
//                                                *
//  概要                                           *
//                                                *
// ============================================= */
.about {
    .messages {
        &_container {
            padding: 1.5rem;
        }
    }
}
// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    &_article {
        .panel {
            &-heading, &-footer {
                background-color: $main-color;
                color: $inverse-color;
                border-color: $main-color2;
            }
            &-body {
                padding: 0;
                .news_thumbnail {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }
    &_contents {
        padding: 2.5rem 1.5rem 1.5rem;
        ul, ol {
            padding-left: 1.5rem;
        }
    }
    & .news_createtime {
        display: block;
        text-align: right;
    }
}