@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  アイキャッチ(トップ)                             *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  アイキャッチ(コンテンツページ)                     *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  トップページ                                    *
//                                                *
// ============================================= */
.index {

}
// ============================================== *
//                                                *
//  概要                                           *
//                                                *
// ============================================= */
.about {
    .messages {
        &_container {
            padding: 1.5rem;
        }
    }
}
// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    &_article {
        .panel {
            &-body {
                padding: 0;
            }
        }
    }
    &_contents {
        padding: 2.5rem 1.5rem 1.5rem;
        ul, ol {
            padding-left: 1.5rem;
        }
    }
    & .news_createtime {
        display: block;
        text-align: right;
    }
}