@charset "utf-8";

// ============================================== *
//                                                *
//  共通                                          *
//                                                *
// ============================================= */
@import "common";

// ============================================= *
//                                               *
//  スタイルガイド                                 *
//                                               *
// ============================================= */
@import "util/sg/sg_index";

// ============================================== *
//                                                *
//  アイキャッチ(トップ)                             *
//                                                *
// ============================================= */
@import "index/eyecatch";

// ============================================== *
//                                                *
//  アイキャッチ(コンテンツページ)                     *
//                                                *
// ============================================= */
@import "partial/eyecatch";

// ============================================== *
//                                                *
//  トップページ                                    *
//                                                *
// ============================================= */
.index {
    .breadcrumb {
        background-color: $main-color;
    }
    .list-group {
        &-item {
            background-color: $main-color;
            border: 1px solid $main-color2;
        }
    }
}
// ============================================== *
//                                                *
//  news                                          *
//                                                *
// ============================================= */
.news {
    &_contents {
        ul, ol {
            padding-left: 1.5rem;
        }
    }
}